TIMEZONE=Europe/Kiev

CDB_API_HOST=http://api.master.k8s.prozorro.gov.ua/api/2.5
QUINTAGROUP_TOKEN=e9c3ccb8e8124f26941d5f9639a4ebc3
CHRONOGRAPH_TOKEN=chronograph

DS_UPLOAD_URL=http://ds.k8s.prozorro.gov.ua/upload
DS_USER=test
DS_PASS=test

ROBOT_OPTIONS=--loglevel DEBUG --include  smoke
